RESEND_API_KEY=
RESEND_FROM_EMAIL="Uncle Sam Quotes <quotes@unclesamjunkremoval.com>"
RESEND_INBOUND_EMAIL=karaiveluu.resend.app
RESEND_WEBHOOK_SECRET=
QUOTE_TO_EMAIL=unclesamjunkremoval@gmail.com
NEXT_PUBLIC_AMPLITUDE_API_KEY=
AMPLITUDE_AI_API_KEY=
